{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            <p> From .StringMap "test"
                {{index .StringMap "test"}}
            </p>
            <p>
                {{if ne (index .StringMap "remote ip") ""}}
                    Your IP is {{index .StringMap "remote ip"}}
                {{else}}
                    Your IP is not known {{index .StringMap "remote ip"}}
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}
